
@section head{

}
@{
    ViewBag.Title = "Download";
}

<h2>NuGet</h2>

<p>Available from NuGet: <a href="https://www.nuget.org/packages/MVCGrid.Net">https://www.nuget.org/packages/MVCGrid.Net</a></p>

<div class="nuget-badge">
    <p>
        <code>
            PM&gt; Install-Package MVCGrid.Net
        </code>
    </p>
</div>

<h2>Source</h2>
<p>Source on GitHub: <a href="https://github.com/bigjoe714/MVCGrid.Net">https://github.com/bigjoe714/MVCGrid.Net</a></p>