@using MVCGrid.Web
@{
    ViewBag.Title = "Client-side API";
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#sortButton').click(function () {
                MVCGrid.setSort('Filtering', 'FirstName', 'asc');
            });

            $('#pageButton').click(function () {
                MVCGrid.setPage('Filtering', 3);
            });

            $('#filterButton').click(function () {
                MVCGrid.setFilters('Filtering', { LastName: 'Smith' });
            });

            $('#pageSizeButton').click(function () {
                MVCGrid.setPageSize('Filtering', 50);
            });


            $('#sortButtonGet').click(function () {
                alert(MVCGrid.getSortColumn('Filtering'));
            });

            $('#pageButtonGet').click(function () {
                alert(MVCGrid.getPage('Filtering'));
            });

            $('#filterButtonGet').click(function () {
                alert(MVCGrid.getFilters('Filtering').LastName);
            });

            $('#pageSizeButtonGet').click(function () {
                alert(MVCGrid.getPageSize('Filtering'));
            });
        });

    </script>
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <button class="btn btn-default" id="sortButton">Sort by FirstName</button>
        <button class="btn btn-default" id="pageButton">Goto Page 3</button>
        <button class="btn btn-default" id="filterButton">Filter for Smith</button>
        <button class="btn btn-default" id="pageSizeButton">Page Size to 50</button>
    </div>

    <p>&nbsp;</p>

    <div class="row">
        <button class="btn btn-default" id="sortButtonGet">Get Sort Column</button>
        <button class="btn btn-default" id="pageButtonGet">Get Page Number</button>
        <button class="btn btn-default" id="filterButtonGet">Get Filter</button>
        <button class="btn btn-default" id="pageSizeButtonGet">Get Page Size</button>
    </div>
</div>

<p>&nbsp;</p>


@Html.MVCGrid("Filtering")

<h3>Code</h3>

<div class="panel panel-default">
    <div class="panel-heading">Javascript in View</div>
    <div class="panel-body">
        <pre class="brush: js">
&lt;script type=&quot;text/javascript&quot;&gt;
	$(function () {
		$(&#39;#sortButton&#39;).click(function () {
			MVCGrid.setSort(&#39;Filtering&#39;, &#39;FirstName&#39;, &#39;asc&#39;)
		});
		$(&#39;#pageButton&#39;).click(function () {
			MVCGrid.setPage(&#39;Filtering&#39;, 3)
		});
		$(&#39;#filterButton&#39;).click(function () {
            MVCGrid.setFilters(&#39;Filtering&#39;, { LastName: &#39;Smith&#39; })
		});
        $(&#39;#pageSizeButton&#39;).click(function () {
            MVCGrid.setPageSize(&#39;Filtering&#39;, 50);
        });

        $(&#39;#sortButtonGet&#39;).click(function () {
            alert(MVCGrid.getSortColumn(&#39;Filtering&#39;));
        });
        $(&#39;#pageButtonGet&#39;).click(function () {
            alert(MVCGrid.getPage(&#39;Filtering&#39;));
        });
        $(&#39;#filterButtonGet&#39;).click(function () {
            alert(MVCGrid.getFilters(&#39;Filtering&#39;).LastName);
        });
        $(&#39;#pageSizeButtonGet&#39;).click(function () {
            alert(MVCGrid.getPageSize(&#39;Filtering&#39;));
        });
	});
&lt;/script&gt;
        </pre>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Inside <strong>MVCGridConfig.cs</strong></div>
    <div class="panel-body">
        <pre class="brush: csharp">@CodeSnippetHelper.GetCodeSnippet("Filtering")</pre>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">View</div>
    <div class="panel-body">
        <pre>@@Html.MVCGrid("Filtering")</pre>
    </div>
</div>

<h1>More Examples</h1>

<pre class="brush: js">
$(function () {
    $(&#39;#selPageSize&#39;).change(function () {
        MVCGrid.setPageSize(&#39;GlobalSearchGrid&#39;, $(&#39;#selPageSize&#39;).val());
    });
    $(&#39;#txtGlobalSearch&#39;).keyup(function () {
        MVCGrid.setAdditionalQueryOptions(&#39;GlobalSearchGrid&#39;, { globalsearch: $(&#39;#txtGlobalSearch&#39;).val() });
    });
    $(&#39;#selPageSize&#39;).val(MVCGrid.getPageSize(&#39;GlobalSearchGrid&#39;));
    $(&#39;#txtGlobalSearch&#39;).val(MVCGrid.getAdditionalQueryOptions(&#39;GlobalSearchGrid&#39;).GlobalSearch);
});
</pre>

<pre class="brush: js">
$(function () {
    $(&#39;#btnFilter&#39;).click(function(){
        MVCGrid.setFilters(&#39;Filtering&#39;,
            {
                FirstName: $(&#39;#FirstName&#39;).val(),
                LastName: $(&#39;#LastName&#39;).val(),
                Status: $(&#39;#Status&#39;).val()
            })
    });
    $(&#39;#FirstName&#39;).val(MVCGrid.getFilters(&#39;Filtering&#39;).FirstName);
    $(&#39;#LastName&#39;).val(MVCGrid.getFilters(&#39;Filtering&#39;).LastName);
    $(&#39;#Status&#39;).val(MVCGrid.getFilters(&#39;Filtering&#39;).Status);
});
</pre>