@using MVCGrid.Web
@{
    ViewBag.Title = "Column Visibility";
}
@section head{
    <style type="text/css">
        .sortable ul{
            list-style-type:none;
        }
        .sortable li{
            list-style: none;
            height: 40px;
        }
        .handle{
            cursor: move;
        }
        li.sortable-placeholder {
			border: 1px dashed #CCC;
			background: none;
		}
    </style>
}
@section scripts{
    <script src="~/Scripts/jquery.sortable.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var html = '';

            var colVis = MVCGrid.getColumnVisibility('ColumnVisibilityGrid');

            html += '<ul class="sortable">';

            @*<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">@</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>*@

            $.each(colVis, function (colName, col) {
                html += '<li draggable="true">';

                html += '<div class="input-group">';
                html += '<span class="input-group-addon handle">::</span>';
                

                

                html += '<label class="form-control">';
                html += '<input type="checkbox" name="cols" value="' + colName + '"';
                if (col.visible) {
                    html += ' checked';
                }
                if (!col.allow) {
                    html += ' disabled';
                }
                html += '>';

                html += col.headerText;
                html += "</label>";
                html += '</div>';

                html += '</li>';
            });
            html += '</ul>';

            $('#colVisOptions').html(html);

            $('.sortable').sortable({
                handle: '.handle'
            });

            $('#colVisUpdateButton').click(function () {
                var jsonData = {};
                $("input:checkbox[name='cols']:checked").each(function () {

                    var columnName = $(this).val();
                    jsonData[columnName] = true;
                });
                MVCGrid.setColumnVisibility('ColumnVisibilityGrid', jsonData);

                $('#myModal').modal('hide');
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<p>Create your own UI to show/hide or re-order columns based on the data from the client-side api function <code>MVCGrid.getColumnVisibility</code>, and then use the <code>MVCGrid.setColumnVisibility</code> to update the grid.</p>
<p>In the column definition, set <code>Visible</code> to false and set <code>AllowChangeVisibility</code> to true to allow the column to be displayed.</p>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Show/Hide Fields
</button>

@Html.MVCGrid("ColumnVisibilityGrid")


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose Fields</h4>
            </div>
            <div class="modal-body">
                <div id="colVisOptions"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="colVisUpdateButton" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>