
@{
    ViewBag.Title = "Custom Style";
}

<h2>@ViewBag.Title</h2>

<p>To create a custom style for your grid, you have 2 options.</p>

<ul>
    <li>Option 1: Implement your own <code>IMVCGridRenderingEngine</code>. <a href="@(Url.Action("customstyle","demo"))">Instructions</a>.</li>
    <li>Option 2: Use your own razor view that uses <code>RenderingModel</code> as its model. <a href="@(Url.Action("customrazorview","demo"))">Instructions</a>.</li>
</ul>

