
@{
    ViewBag.Title = "Custom Style";
}

<h2>@ViewBag.Title</h2>

<p>To create a custom style for your grid, you have 2 options.</p>

<h3>Option 1: Implement IMVCGridRenderingEngine</h3>
<p>Implement your own <code>IMVCGridRenderingEngine</code>. <a href="@(Url.Action("customstyle","demo"))">Instructions</a>.</p>

<h3>Option 2: Custom Razor View</h3>
<p>Use your own razor view that uses <code>RenderingModel</code> as its model. <a href="@(Url.Action("customrazorview","demo"))">Instructions</a>.</p>

