@using MVCGrid.Web
@{
    ViewBag.Title = "Custom Error Message";
}

<h2>@ViewBag.Title</h2>

<p>Try sorting by first name to see the error message.</p>

@Html.MVCGrid("CustomErrorMessage")

<h3>Code</h3>

<div class="panel panel-default">
    <div class="panel-heading">Inside <strong>MVCGridConfig.cs</strong></div>
    <div class="panel-body">
        <pre class="brush: csharp">@CodeSnippetHelper.GetCodeSnippet("CustomErrorMessage")</pre>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">View</div>
    <div class="panel-body">
        <pre>@@Html.MVCGrid("ErrorMessage")</pre>
    </div>
</div>