@using MVCGrid.Web
@{
    ViewBag.Title = "Custom Razor View";
}
@section head{
    <style type="text/css">
        table.customStyleTable {
            width: 100%;
        }
            /*table.customStyleTable tr th{
            background-color: blue;
        }*/
            table.customStyleTable tr:nth-child(odd) {
                background-color: #fff;
            }

            table.customStyleTable tr:nth-child(even) {
                background-color: #9cf;
            }

            table.customStyleTable thead th {
                background: #fc9;
            }

        .pageItem {
            display: inline;
            float: left;
            margin: 2px;
        }
    </style>
}

<h2>@ViewBag.Title</h2>
<p>To prepare to use your own View, follow these steps:</p>
<ol>
    <li>Add the MVCGrid controller to your Routes
<pre class="brush: csharp;">
routes.MapRoute(
    "MVCGrid",
    "mvcgrid/{action}",
    new { controller = "MVCGrid" },
    new[] { "MVCGrid.Web" }
);
</pre>
    </li>
    <li>Add a new Partial View to your project. Example: <code>/Views/MVCGrid/_Custom.cshtml</code>.
    
        <br />
        Here is a partial view to get you started:
        <a href="~/Content/_Grid.cshtml.txt">_Grid.cshtml</a>

    </li>
    <li>Everything you need to populate your table will be given to you in the <code>RenderingModel</code> object. <code>@@model MVCGrid.Models.RenderingModel</code>
    </li>

    <li>On your grid definition or in the defaults, set <code>RenderingMode = RenderingMode.Controller;</code> and the <code>ViewPath = "~/Views/MVCGrid/_Custom.cshtml";</code>
    
    </li>
    <li>You must include the following line at the bottom of your view: <code>@@Html.Raw(Model.ClientDataTransferHtmlBlock)</code></li>
</ol>

@Html.MVCGrid("CustomRazorView")

<br /><br />

<h3>Code</h3>

<div class="panel panel-default">
    <div class="panel-heading">Inside <strong>MVCGridConfig.cs</strong></div>
    <div class="panel-body">
        <pre class="brush: csharp">@CodeSnippetHelper.GetCodeSnippet("CustomRazorView")</pre>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">View</div>
    <div class="panel-body">
        <pre>@@Html.MVCGrid("CustomRazorView")</pre>
    </div>
</div>