@using MVCGrid.Web
@using MVCGrid.Web.Models
@{
    ViewBag.Title = "Using with Dependency Injection";
}

<h2>@ViewBag.Title</h2>

@Html.MVCGrid("DIGrid")

<h3>Code</h3>

<div class="panel panel-default">
    <div class="panel-heading">Inside <strong>MVCGridConfig.cs</strong></div>
    <div class="panel-body">
        <pre>@CodeSnippetHelper.GetCodeSnippet("DIGrid")</pre>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">View</div>
    <div class="panel-body">
        <pre>@@Html.MVCGrid("DIGrid")</pre>
    </div>
</div>
