
@{
    ViewBag.Title = "Dummy Detail Page";
}

<h1>@ViewBag.Title</h1>
<h2>Item @ViewBag.Id</h2>

<p>Now try using the back button and notice how the grid is in the same state that you left it.</p>

