@using MVCGrid.Web
@{
    ViewBag.Title = "Filtering";
}

@section Scripts{
    <script type="text/javascript">
        $('#btnFilter').click(function(){
            MVCGrid.setFilters('Filtering',
                [
                    { "columnName": "FirstName", "value": $('#FirstName').val() },
                    { "columnName": "LastName", "value": $('#LastName').val() },
                    { "columnName": "Status", "value": $('#Status').val() }
                ])
        });
    </script>
}

<h2>@ViewBag.Title</h2>

<p>It is your responsibility to add whatever inputs to your page that you want for filtering. Then call the <code>MVCGrid.setFilters</code> javascript function to perform the filtering.</p>

<div class="well">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-5 control-label" for="LastName">Last Name</label>
            <div class="col-sm-3">
                <input class="form-control" id="LastName" name="LastName" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="FirstName">First Name</label>
            <div class="col-sm-3">
                <input class="form-control" id="FirstName" name="FirstName" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-5 control-label" for="Status">Status</label>
            <div class="col-sm-2">
                <select class="form-control" id="Status" name="Status">
                    <option value=""></option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-1">
                <button type="button" id="btnFilter" class="btn btn-default">Filter</button>
            </div>
        </div>
    </div>
</div>


@Html.MVCGrid("Filtering")

<h3>Code</h3>

<div class="panel panel-default">
    <div class="panel-heading">Javascript in View</div>
    <div class="panel-body">
        <pre class="brush: js">
&lt;script type=&quot;text/javascript&quot;&gt;
	$(&#39;#btnFilter&#39;).click(function(){
		MVCGrid.setFilters(&#39;Filtering&#39;,
			[
				{ &quot;columnName&quot;: &quot;FirstName&quot;, &quot;value&quot;: $(&#39;#FirstName&#39;).val() },
				{ &quot;columnName&quot;: &quot;LastName&quot;, &quot;value&quot;: $(&#39;#LastName&#39;).val() },
				{ &quot;columnName&quot;: &quot;Status&quot;, &quot;value&quot;: $(&#39;#Status&#39;).val() }
			])
	});
&lt;/script&gt;
        </pre>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Inside <strong>MVCGridConfig.cs</strong></div>
    <div class="panel-body">
        <pre class="brush: csharp">@CodeSnippetHelper.GetCodeSnippet("Filtering")</pre>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">View</div>
    <div class="panel-body">
        <pre>@@Html.MVCGrid("Filtering")</pre>
    </div>
</div>