@using MVCGrid.Web
@{
    ViewBag.Title = "Filtering";
}

<h2>@ViewBag.Title</h2>

<p>It is your responsibility to add whatever inputs to your page that you want for filtering. Then call the <code>MVCGrid.setFilters</code> javascript function to perform the filtering.</p>

<p>Or use <a href="/documentation#ClientSideBindings">client-side bindings</a>, as is done below:</p>

<div class="well">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name"
                   data-mvcgrid-type="filter" data-mvcgrid-option="LastName" />
        </div>
        <div class="form-group">
                
                
            <input type="email" class="form-control" placeholder="First name"
                   data-mvcgrid-type="filter" data-mvcgrid-option="FirstName" />
        </div>
        <div class="form-group">

            <select class="form-control" data-mvcgrid-type="filter" data-mvcgrid-option="Status">
                <option value=""></option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>

        </div>
        <button type="button" class="btn btn-default" data-mvcgrid-apply-filter="click">Apply</button>
    </div>
</div>


@Html.MVCGrid("Filtering")

<h3>Code</h3>

    <div class="panel panel-default">
        <div class="panel-heading">View</div>
        <div class="panel-body">
            <pre class="brush: js">
&lt;div class=&quot;well&quot;&gt;
    &lt;div class=&quot;form-inline&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Last Name&quot;
                   data-mvcgrid-type=&quot;filter&quot; data-mvcgrid-option=&quot;LastName&quot; /&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-group&quot;&gt;
                
                
            &lt;input type=&quot;email&quot; class=&quot;form-control&quot; placeholder=&quot;First name&quot;
                   data-mvcgrid-type=&quot;filter&quot; data-mvcgrid-option=&quot;FirstName&quot; /&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;select class=&quot;form-control&quot; data-mvcgrid-type=&quot;filter&quot; data-mvcgrid-option=&quot;Status&quot;&gt;
                &lt;option value=&quot;&quot;&gt;&lt;/option&gt;
                &lt;option value=&quot;Active&quot;&gt;Active&lt;/option&gt;
                &lt;option value=&quot;Inactive&quot;&gt;Inactive&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-mvcgrid-apply-filter=&quot;click&quot;&gt;Apply&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

@@Html.MVCGrid("Filtering")
        </pre>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Inside <strong>MVCGridConfig.cs</strong></div>
        <div class="panel-body">
            <pre class="brush: csharp">@CodeSnippetHelper.GetCodeSnippet("Filtering")</pre>
        </div>
    </div>


