@using MVCGrid.Web
@{
    ViewBag.Title = "Global Search";
}
@section head{
    <style type="text/css">
        .mgfilter {
            float: right;
            text-align: right;
        }

        .mgPageSize {
            float: left;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

@section Scripts{
    <script type="text/javascript">

        $(function () {

            $('#selPageSize').change(function () {
                MVCGrid.setPageSize('GlobalSearchGrid', $('#selPageSize').val());
            });

            $('#txtGlobalSearch').keyup(function () {
                MVCGrid.setAdditionalQueryOptions('GlobalSearchGrid', { globalsearch: $('#txtGlobalSearch').val() });
            });

            $('#selPageSize').val(MVCGrid.getPageSize('GlobalSearchGrid'));
            $('#txtGlobalSearch').val(MVCGrid.getAdditionalQueryOptions('GlobalSearchGrid').GlobalSearch);

        });


    </script>
}

<p>
    You can use the <code>AdditionalQueryOptions</code> to pass additional options from client to server side. In this example, we use this to create a "global search".
    When you click the search button below, it will call the javascript method <code>MVCGrid.setAdditionalQueryOptions</code> with the value of the text box.
    This will be sent to the server-side with the ajax call and can be accessed in the <code>RetrieveDataMethod</code>.
    In this example, the database will concat first and last name and query that for the entered text.
    Note, when using the <code>AdditionalQueryOptions</code>, you must specify the names you are going to use in the grid config. See the code sample below.
</p>

<p>&nbsp;</p>

@*<div class="mgPageSize">
        <label>
            Show <select id="selPageSize">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> entries
        </label>
    </div>
    <div class="mgfilter">
        <label>Search:<input type="search" id="txtGlobalSearch" placeholder=""></label>
    </div>*@



<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-8">
                <label>
                    Show <select id="selPageSize">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries
                </label>
            </div>
            <div class="col-md-4"><label class="pull-right">Search: <input type="search" id="txtGlobalSearch" placeholder=""></label></div>
        </div>

        @Html.MVCGrid("GlobalSearchGrid")
    </div>
</div>





        <h3>Code</h3>

        <div class="panel panel-default">
            <div class="panel-heading">Javascript in View</div>
            <div class="panel-body">
                <pre class="brush: js">
$(&#39;#selPageSize&#39;).click(function () {
    MVCGrid.setPageSize(&#39;GlobalSearchGrid&#39;, $(&#39;#selPageSize&#39;).val());
});
$(&#39;#txtGlobalSearch&#39;).keyup(function () {
    MVCGrid.setAdditionalQueryOptions(&#39;GlobalSearchGrid&#39;, { globalsearch: $(&#39;#txtGlobalSearch&#39;).val() });
});
        </pre>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Inside <strong>MVCGridConfig.cs</strong></div>
            <div class="panel-body">
                <pre class="brush: csharp">@CodeSnippetHelper.GetCodeSnippet("GlobalSearchGrid")</pre>
            </div>
        </div>
