@using MVCGrid.Web
@using MVCGrid.Web.Models
@{
    ViewBag.Title = "Load Grid On Demand";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {

            $('#reloadGridButton').click(function () {
                MVCGrid.reloadGrid('QPLGrid');
            });
        });

    </script>
}

<h2>@ViewBag.Title</h2>

<p>If you do not want the grid to load when the page first loads, you can do the following.</p>
<p>In your grid config, set these 2 options:</p>
<pre class="brush: csharp">
.WithQueryOnPageLoad(false)
.WithPreloadData(false)
</pre>
<p>Then use the reloadGrid javascript function when you want to load it:</p>
<pre class="brush: jscript">
MVCGrid.reloadGrid('QPLGrid');
</pre>

<button class="btn btn-default" id="reloadGridButton">Load Grid</button>

@Html.MVCGrid("QPLGrid")