@using MVCGrid.Web
@{
    ViewBag.Title = "Paging Grid";
}

<h2>@ViewBag.Title</h2>

@Html.MVCGrid("PagingGrid")

<h3>Code</h3>

<div class="panel panel-default">
    <div class="panel-heading">Inside <strong>MVCGridConfig.cs</strong></div>
    <div class="panel-body">
        <pre>@CodeSnippetHelper.GetCodeSnippet("PagingGrid")</pre>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">View</div>
    <div class="panel-body">
        <pre>@@Html.MVCGrid("PagingGrid")</pre>
    </div>
</div>