@using MVCGrid.Web
@{
    ViewBag.Title = "Preloading Data";
}

<h2>@ViewBag.Title</h2>

<p>With preloading turned on, the initial ajax call is not needed and the data will be loaded when the page loads. Subsequent calls are done with ahax.</p>

@Html.MVCGrid("Preloading")
