@using MVCGrid.Web
@{
    ViewBag.Title = "Custom Row/Cell Styling";
}

<h2>@ViewBag.Title</h2>

@Html.MVCGrid("StyledGrid")


<h3>Code</h3>

<div class="panel panel-default">
    <div class="panel-heading">Inside <strong>MVCGridConfig.cs</strong></div>
    <div class="panel-body">
        <pre class="brush: csharp">@CodeSnippetHelper.GetCodeSnippet("StyledGrid")</pre>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">View</div>
    <div class="panel-body">
        <pre>@@Html.MVCGrid("StyledGrid")</pre>
    </div>
</div>