@using MVCGrid.Web
@{
    ViewBag.Title = "Home Page";
}

<h1>Grid Test</h1>

@(Html.MVCGrid("TestMapping"))

<input type="button" value="Refresh" onclick="MVCGrid.reloadGrid('TestMapping');" />
<input type="button" value="Export" onclick="location.href = MVCGrid.getExportUrl('TestMapping');" />