
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>&nbsp;</p>

<div class="row">
    <div class="col-md-3" role="complementary">
        Sidebar
    </div>
    <div class="col-md-9" role="main">
        @RenderBody()
    </div>
</div>