
@{
    ViewBag.Title = "Getting Started";
}

<h1>@ViewBag.Title</h1>

<h2>Prerequisites</h2>
<ul>
    <li>MVC 3 or greater</li>
    <li>jQuery</li>
    <li>Bootstrap 3</li>
</ul>

<h2>Installation</h2>
<ol>
    <li>Install the NuGet Package, or manually add a reference to MVCGrid.dll
    <div><a href="http://badge.fury.io/nu/MVCGrid.net"><img src="https://badge.fury.io/nu/MVCGrid.net.svg" alt="NuGet version" height="18"></a></div>
    </li>
    <li>Create a file called <code>MVCGridConfig.cs</code> under the App_Start folder</li>
    <li>Add the following contents to the new file inside the namespace section:
    <pre>
using MVCGrid.Web;
public class MVCGridConfig
{
    public static void RegisterGrids()
    {
        // add your Grid definitions here, using the MVCGridDefinitionTable.Add method
    }
}
</pre>
    </li>
    <li>Add the following line to <code>Global.asax</code> in the <code>Application_Start()</code> method
    
    <pre>
MVCGridConfig.RegisterGrids();
</pre>
    </li>
    <li>Add the following to your web.config:
    <pre>
  &lt;system.webServer&gt;
    &lt;handlers&gt;
      &lt;add name=&quot;MVCGridHandler&quot; verb=&quot;*&quot; path=&quot;MVCGridHandler.axd&quot; type=&quot;MVCGrid.Web.MVCGridHandler, MVCGrid&quot; /&gt;
    &lt;/handlers&gt;
  &lt;/system.webServer&gt;
</pre>
    </li>
    <li>Add the javascript reference to your _Layout page after jquery is referenced:
<pre>
&lt;!-- Be sure this is after jquery reference --&gt;
&lt;script src=&quot;~/MVCGridHandler.axd/script.js&quot;&gt;&lt;/script&gt;
</pre>
    </li>
    <li>Add your grid definitions to the method above. See the demo page for examples.</li>
    <li>Use the grids in your view with <code>@@Html.MVCGrid("YourGridName")</code></li>
</ol>