
<h1>Support</h1>
<p>Need help using MVCGrid.net? I'm happy to answer any questions.</p>

<br /><br /><br />

@*<h2>Stack Overflow - Preferred Method</h2>*@
@*<h2>Questions</h2>
<p><img src="~/Content/stackoverflow_logo.jpg" /></p>
<p>Please post a question on Stack Overflow with the tag <code>MVCGrid.Net</code>. I will monitor questions with this tag and answer as soon as possible.</p>
<p class="lead"><a href="http://stackoverflow.com/questions/ask?tags=MVCGrid.net">Click Here</a> to ask a question</p>

<br /><br /><br />*@

<p>Please post on GitHub</p>
<p><a href="https://github.com/joeharrison714/MVCGrid.Net/issues">https://github.com/joeharrison714/MVCGrid.Net/issues</a></p>

<h2>Email</h2>
<p>To email me, please use joe @@ mvcgrid.net</p>