
<h1>Support</h1>
<p>Need help using MVCGrid.net? I'm happy to answer any questions.</p>

<h2>Stack Overflow - Preferred Method</h2>

<p>Please post a question on Stack Overflow with the tag <code>MVCGrid.Net</code>. I will monitor questions with this tag and answer as soon as possible.</p>
<p class="lead"><a href="http://stackoverflow.com/questions/ask?tags=MVCGrid.net">Click Here</a> to ask a question</p>

<h2>Email</h2>
<p>To email me, please use joe @@ mvcgrid.net</p>