<table id="MVCGridTable_TestGrid" class="table table-striped table-bordered">
    <thead>
        <tr>
            @foreach (var col in Model.Columns)
            {
                <th>@col.HeaderText</th>
            }
        </tr>
    </thead>
</table>